
<br>
<div class="container">
    <section style="margin-top: -17px;">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="FR()" style="color: #FDC82F;">FR</a>
                        </li>
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="AN()" style="color: #FDC82F;">AN</a>
                        </li>
                        <li class="nav-item" style="cursor: pointer;">
                            <a class="nav-link" onclick="AR()" style="color: #FDC82F;">AR</a>
                        </li>
                      
                    </ul>

                    </div>
                </div>
            </nav>
        </div>
    </section><br>
</div>
<div class="container">

    <input type="hidden" id="menuFR" value="{{menuFR}}">
    <input type="hidden" id="menuAN" value="{{menuAN}}">
    <input type="hidden" id="menuAR" value="{{menuAR}}">
    <input type="hidden" id="prixVal" value="{{prix}}">

    <center>
        <h1 id="Result_Nameprodact" ></h1>
        {{!-- <h1>{{id}}</h1> --}}
        <img src="/images/{{chemin_img}}/lg_{{img}}" alt="">
        <input type="hidden" name="imgchemain" id="imgchemain" value="{{chemin_img}}">
        <input type="hidden" name="imgpromenu" id="imgpromenu" value="{{img}}">
    </center>
    <center>
    <h2>
        <span style="color: red;">prix : </span><span id="prix">{{prix}}</span><span> DH</span>
    </h2>
    
</div>


<center>
<div class="container">
    <h1 style="color: #FDC82F;">Value</h1>
    
    <div class="input-group mb-3" style="width: 50%;">
        <input type="number" class="form-control" name="contityVal" id="contityVal" placeholder="taper ure value">
        <input type="button" value="Save" id="btnSave" onclick="savee()" class="btn btn-outline-secondary" >
    </div>
    <h1 id="showdata"></h1>
</div>
</center>

<script>

    function onload_start(){

        var menuFR =document.getElementById("menuFR").value;
        var menuAN =document.getElementById("menuAN").value;
        var menuAR =document.getElementById("menuAR").value;
        var Result =document.getElementById("Result_Nameprodact");

        if (typeof(Storage) !== "undefined") {
            // Retrieve
            if(sessionStorage.getItem("langue") == "FR"){
                Result.value =menuFR;
                Result.innerHTML =menuFR;
            }else if(sessionStorage.getItem("langue") == "AN"){
                Result.value =menuAN;
                Result.innerHTML =menuAN;
            }else if(sessionStorage.getItem("langue") == "AR"){
                Result.value =menuAR;
                Result.innerHTML =menuAR;
            }
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
    }

        var menuFR =document.getElementById("menuFR").value;
        var menuAN =document.getElementById("menuAN").value;
        var menuAR =document.getElementById("menuAR").value;
        var Result =document.getElementById("Result_Nameprodact");

    function FR(){

        if (typeof(Storage) !== "undefined") {
            // Retrieve
            sessionStorage.setItem("langue", "FR");
            alert(sessionStorage.getItem("langue"));
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
         Result.innerHTML =menuFR;
    }

    function AN(){
        if (typeof(Storage) !== "undefined") {
            // Store
            sessionStorage.setItem("langue", "AN");
            alert(sessionStorage.getItem("langue"));
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
         Result.innerHTML =menuAN;
    }

    function AR(){
        if (typeof(Storage) !== "undefined") {
            sessionStorage.setItem("langue", "AR");
            alert(sessionStorage.getItem("langue"));
        } else {
            alert("Sorry, your browser does not support Web Storage...");
        }
         Result.innerHTML =menuAR;
    }
  
</script>

<script>

    function savee(){
        let contityVal = document.getElementById("contityVal").value;
        let nameVal = document.getElementById("menuFR").value;
        var imgchemainVal = document.getElementById("imgchemain").value;
        let imgVal = document.getElementById("imgpromenu").value;
        let prixVal = document.getElementById("prixVal").value;

        if(localStorage.getItem('data') == null){
            let obj1 = [
            {contityData: contityVal, nameData: nameVal, imgchemainData: imgchemainVal,imgData:  imgVal,prixData:  prixVal}
            ]
            localStorage.setItem("data", JSON.stringify(obj1));
            console.log("== null");
            document.getElementById("btnSave").value="Save";
            document.getElementById("btnSave").disabled = true;
        }else{

            let old_data = JSON.parse(localStorage.getItem('data'));

            old_data.push({contityData: contityVal, nameData: nameVal, imgchemainData: imgchemainVal,imgData:  imgVal,prixData:  prixVal})

            localStorage.setItem('data' , JSON.stringify(old_data));
            console.log("== else");
            document.getElementById("btnSave").value="Save";
            document.getElementById("btnSave").disabled = true;
        }
        
    }

    function vieww(){
        if(localStorage.getItem('data') != null){
            document.getElementById("showdata").innerHTML = JSON.parse(localStorage.getItem('data'));
        }
    }
</script>
